# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
dist/
build/
*.egg-info/

# Poetry
poetry.lock

# Environment
.env
.venv
env/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/

# Docker
.docker/

# Testing
.coverage
.pytest_cache/
htmlcov/